@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #FCFAFD;
    user-select: none;
}
.container {
    height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-height: 90%;
    min-width: 320px;
    border-radius: 15px;
    background-color: #fff;
}

#user-input {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding: 0.5rem;
    border-radius: 10px;
}

#add-btn {
    padding: 0.8rem;
    border-radius: 10px;
    margin: 0.5rem;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: white;
}
#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#push {
    width: 125px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 1rem 2rem;
    gap: 8px;
    padding-left: 0;
}

li {
    display: inline-block;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding: 0.8rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    width: fit-content;
}

.del-btn {
    border: grey solid 1px;
    background-color: #fff;
    border-radius: 50px;
    color: gray;
}

@media screen and (min-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
    }
    #main {
        max-width: 50%;
        min-height: 50%;
        padding: 4rem;
    }

    #user-input {
        font-size: large;
    }

    #add-btn {
        font-size: large;
    }
    #push {
        width: 150px;
    }
}
