@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #FCFAFD;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    max-width: 100%;
    min-height: 90%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #fff;
    padding: 2rem;
}

#user-input {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding: 0.5rem;
    border-radius: 10px;
}

#btn {
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: white;
}
#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#push {
    width: 100px;
}

span {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    padding: 0.5rem;
    border: 1px black solid;
    border-radius: 10px;
    margin-right: 0.5rem;
}

@media screen and (min-width: 600px) {
    #main {
        max-width: 50%;
        min-height: 50%;
        padding: 4rem;
    }

    #use-input {
        font-size: large;
    }

    #btn {
        font-size: large;
    }

    #span {
        font-size: large;
        margin-right: 0.5rem;
        margin-bottom: 0;
    }

    #push {
        width: 150px;
    }
}
